.banner{
    display: block;
    padding: 0px;
    margin: 0;
    width: 100vw;
    height: 60vh;
    position: relative;
  }
.bannerText {
  position: relative;
  top: 200px;
  z-index: 20;
  text-align: center;
}